.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# compiled and executable
server
*.o
test.html
dump.bin
nobuild
nobuild.h
nobuild.old
test
test.c

# folder create in run time
files/
